
:root {
  --bs-pink: #f15aa6;
  --bs-red: #dc3545;
  --bs-cyan: #0dcaf0;
  --bs-black: #000000d7;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-secondary-text: #6c757d;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #6c757d;
  --bs-dark-text: #495057;
}

body {
  margin: auto 0;
  overflow-x: hidden;
  background-color: var(--bs-dark);
}

main {
  border-bottom: 2px solid var(--bs-pink);
}

header {
  display: flex;
  justify-content: space-between;
  background: var(--bs-pink);
  border-bottom: 2px solid var(--bs-pink);
  color: var(--bs-light);
  padding: 0.5rem;
}

.nav-content {
  display: flex;
  list-style: none;
  margin-right: 8rem;
}

.header-content-nav {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-right: 3rem;
}

.nav-content li {
  margin-left: 1rem;
}

.nav-content li a {
  text-decoration: none;
  color: var(--bs-light);
}

.header-content-nav button {
  background-color: var(--bs-pink); /* Define button background color */
  color: var(--bs-light);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.4rem;
  border-radius: 90px;
}

button {
  margin-left: 1rem;
  width: 8vw;
  height: 3vw;
  border: solid 2px var(--bs-black);
}

.sign-in {
  margin-right: 1rem;
  border: solid 2px var(--bs-black);
}

.home-title {
  color: var(--bs-light);
  text-align: left;
  margin-left: 1rem;
}

.home-container {
  margin-top: 5rem;
  overflow-x: hidden;
  margin-right: 0.5rem;
}

.home-container::before {
  content: '';
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./asset/img/home__bg.jpg) no-repeat center/cover;
  opacity: 0.1;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.header-content-logo {
  display: flex;
}

.logo {
  background: url('./asset/img/logo.jpg') no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

form {
  display: flex;
  align-items: center;
}

.search-input-container {
  display: flex;
  align-items: flex-start;
  margin-left: 0.5rem;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button,
.comment-button {
  background-color: var(--bs-pink);
  color: var(--bs-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--bs-cyan);
}

.card {
  margin: 0.5rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.cards,
.cards2,
.cards1 {
  background: url('./asset/img/14.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0.5rem;
  width: 300px;
  height: 350px;
  z-index: 5;
}

.cards1 {
  background: url('./asset/img/17.png') no-repeat;
  background-size: cover;
}

.cards2 {
  background: url('./asset/img/12.png') no-repeat;
  background-size: cover;
}

.footer-copyright {
  background:
    linear-gradient(
      to right,
      var(--bs-secondary),
      var(--bs-success),
      var(--bs-dark)
    );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px;
  text-align: center;
  align-self: flex-end;
  flex-grow: 2;
}
